{% extends 'base.html' %}

{% block content %}

<div class="container-lg">
    <h1>Home</h1>

  </div>
  <div class="lg-7 offset-lg-4 my-5 w-25">
  <h4>
  <form method="POST" action="{{ url_for('home') }}">
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" name="goto" class="custom-control-input" value="new">
    <label class="custom-control-label" for="customRadio1">Treat New Patient</label>
  </div>
  <br>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" name="goto" class="custom-control-input" value="old">
    <label class="custom-control-label" for="customRadio2">Treat Existing Patient</label>
  </div>
  <br>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio3" name="goto" class="custom-control-input" value="getPdata">
    <label class="custom-control-label" for="customRadio3">Show Patient Data</label>
  </div>
  <hr>
  <input class="btn btn-primary form-control" type="submit" value="Go">
  </form>
  </h4>
</div>


{% endblock %}