{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="container"><h2><u>Details of</u>: {{ details['PID'] }}</h2></div>
    <div class="lg-7 offset-lg-3 my-5 w-50">
        
        <table class="table table-hover">
              <tr>
                <td><b>Patient Id</b></td>
                <td>{{details['PID']}}</td>
              </tr>
              <tr>
                <td><b>Name</b></td>
                <td>{{details['Name']}}</td>
              </tr>
              <tr>
                <td><b>Age</b></td>
                <td>{{details['Age']}}</td>
              </tr>
              <tr>
                <td><b>Gender</b></td>
                <td>{{details['Gender']}}</td>
              </tr>
              <tr>
                <td><b>Address</b></td>
                <td>{{details['Address']}}</td>
              </tr>
              
          </table>
    
    </div>
</div>

<div class="lg-7 offset-lg-2 my-2 w-75">
  <!-- simple collapse bootstrap-->
  {% for hist in hist_list %}
  <!--{% set i = 0 %}-->
  <button class="btn btn-success btn-lg" data-toggle="collapse" data-target="#demo{{loop.index}}">{{hist.get('Date')}}</button>

  <div id="demo{{loop.index}}" class="collapse">
    <ul class="list-group list-unstyled">
      <li class="list-group-item font-weight-bold bg-dark text-white">Prov_Diagonis</li>
      <ul style="list-style-type:disc" >
        {% for diag in hist.get('Prov_Diagonis') %}
          <li class="">{{diag}}</li>
        {% endfor %}
        
      </ul>
    </ul>
    
  </div><br><br>
  {% endfor %}

</div>

{% endblock %}